header {
  margin: 2%;
}
h1 {
  font-size: 3rem;
}
nav {
  display: inline-block;
}
li {
  display: inline-block;
  padding: 1rem;
  background: blue;
  margin-right: 1rem;
}
li a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
